<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vasiliy.encyclopedia_of_the_sky" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme" >
        <activity
            android:name=".Activitys.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.Encyclopedia.EncyclopediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Encyclopedia.ObjectsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Encyclopedia.ConstellationViewActivity"
            android:label="@string/title_activity_constellation_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Encyclopedia.PlanetViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Game.GameMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Game.GameActivity"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Game.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Game.GameOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Game.ChoiceGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.Encyclopedia.ViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Activitys.Game.GameOverShowQuestionActivity" >
        </activity>
    </application>

</manifest>
